<div class="row">
  <div class="col">
    <div class="alert alert-info">
      {{date | date : 'medium' | uppercase}}
      <!--       <p> {{ 1 | btcToUsd}}</p>
      <p> {{ 1 | btcToUsd | btcToUsd: false}}</p>
      <p> {{ 1 | btcToUsd: false}}</p> -->
    </div>
    <div class="alert alert-warning">
      Nombre de click sur les cvs est : {{ nbClick }}
    </div>
    <app-list [cvs]="cvs"></app-list>
  </div>
  <div class="col">
    <app-cv-card></app-cv-card>
  </div>
</div>
<div class="row">
  <app-embauche></app-embauche>
</div>
